@keyframes entry-button{
    from{
        background-color:rgba(0,0,0,0);

    }

    to{
        background-color:rgba(0,0,0,0.5);

    }

}

@keyframes leave-button{
    from{
        background-color:rgba(0,0,0,0.5);

    }

    to{
        background-color:rgba(0,0,0,0);

    }

}

@keyframes entry-button-red{
    from{
        background-color:rgba(255,0,0,0);

    }

    to{
        background-color:rgba(255,0,0,0.5);

    }

}

@keyframes leave-button-red{
    from{
        background-color:rgba(255,0,0,0.5);

    }

    to{
        background-color:rgba(255,0,0,0);

    }

}

#entry-button{
    animation-name: entry-button;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

}

#leave-button{
    animation-name: leave-button;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

}

#entry-button-red{
    animation-name: entry-button-red;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

}

#leave-button-red{
    animation-name: leave-button-red;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;

}

#title-bar{
    background-color:rgb(32,32,32);

    /* border-radius:10px 10px 0px 0px; */

}

#name-interface{
    background-color:rgb(255,255,255);

}

#tool{
    background-color:rgb(32,32,32);

    /* border-radius:0px 0px 10px 10px; */

}
